@page "/proveedores"
@using Tabler.Docs.Components.Modals
@using Tabler.Docs.Interfaces
@using Tabler.Docs.Models
@using Tabler.Docs.ViewModels
@using Supplier = Tabler.Docs.Models.Supplier

@inject ProveedoresPageViewModel Model
@inject ProveedoresViewModel Mode


<Table Item="Supplier" Items="Model.Suppliers" PageSize="10"
      OnItemSelected="OnItemEdit"  OnItemDeleted="OnItemDelete">
    <HeaderTemplate>
        <strong>Proveedores</strong>
    </HeaderTemplate>

    <ChildContent>
        <Column Item="Supplier" Property="e=>e.Name" Title="Nombre" Sortable Searchable Groupable>
            <EditorTemplate>
                <input type="text" class="form-control" @bind-value="@context.Name" />
            </EditorTemplate>
        </Column>
        <Column Item="Supplier" Property="e=>e.Cellphone" Title="Celular" Sortable Searchable Groupable>
            <EditorTemplate>
                <input type="text" class="form-control" @bind-value="@context.Cellphone" />
            </EditorTemplate>
        </Column>
        <Column Item="Supplier" Property="e=>e.Notes" Title="Notas" Sortable Searchable Groupable>
            <EditorTemplate>
                <input type="text" class="form-control" @bind-value="@context.Notes" />
            </EditorTemplate>
        </Column>
        <Column Item="Supplier" Property="e => e.Name" Title="Imagen">
            <Template>
                <img src="@context.Picture" style="height: 100px;" />
            </Template>
        </Column>
    </ChildContent>

</Table>
@if (!AppData.Current.User.Permissions.ReadOnly)
{
    <Button @onclick=@ShowModal BackgroundColor="TablerColor.Green">
        <Icon class="icon" Elements="@DemoIcons.Circle_plus" />
        Registrar
    </Button>
}

@code {

    [Inject] IModalService ModalService { get; set; }
    [Inject] TabBlazor.Services.TablerService TablerService { get; set; }
    protected async Task ShowModal()
    {


        var component = new RenderComponent<ProveedorRegister>();
        var result = await ModalService.ShowAsync("Registrar Proveedor", component, new ModalOptions { Size = ModalSize.Small });

        if (!result.Cancelled)
        {
            await Model.Refresh();
            StateHasChanged();
        }


    }

    protected override async Task OnInitializedAsync()
    {
        await Model.Refresh();
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Model.Refreshed += Refreshed;
    }

    private void Refreshed(object sender, EventArgs e)
    {
        (sender as IRefresh).Refreshed -= Refreshed;
        StateHasChanged();
    }
    private async Task OnItemDelete(Supplier supplier)
    {
        Supplier sup = Supplier.GetById(supplier.Id);
        if (sup is null) { return; }
        var result = await ModalService.ShowAsync(sup.Name,
            new RenderComponent<DialogTest>().Set(x => x.Line1, "¿Eliminar este Proveedor?")
                .Set(x => x.Line2, "Continuará mostrandose en reportes de ventas anteriores")
                .Set(x => x.Line3, "Esta acción no puede deshacerse"),
            new ModalOptions { StatusColor = TablerColor.Danger, BlurBackground = true });

        if (!result.Cancelled)
        {
            sup.Enabled = true;
            await sup.Save();
            ModalService.Close(ModalResult.Ok());
            await Model.Refresh();
            StateHasChanged();
        }
    }
    private async Task OnItemEdit(Supplier supplier)
    {
        if(AppData.Current.User.Permissions.ReadOnly)
        {
            var result = await ModalService.ShowAsync(AppData.Current.User.Name,
            new RenderComponent<DialogTest>().Set(x => x.Line1, "No tienes permiso de editar"),
            new ModalOptions { StatusColor = TablerColor.Danger, BlurBackground = true });
        }
        else
        {
            var component = new RenderComponent<ProveedorRegister>().Set(prove => prove.ProveedorId, supplier.Id);
            var result = await ModalService.ShowAsync("Registrar proveedor", component, new ModalOptions { Size = ModalSize.Large });
            if (!result.Cancelled)
            {
                await Model.Refresh();
                StateHasChanged();
            }
        }

    }

}
