@using Microsoft.AspNetCore.Components
@using CucoStore.Docs.Components.Icons
@using CucoStore.Docs.Interfaces
@using CucoStore.Docs.Models
@using CucoStore.Docs.ViewModels

<Table Item="Product" Items="Model.Products" PageSize="10" AllowAdd="False" AllowDelete="False" AllowEdit="False" OnItemSelected="ItemSelected">
    <HeaderTemplate>
        <strong>Productos</strong>
    </HeaderTemplate>

    <ChildContent>
        <Column Item="Product" Property="e=>e.Code" Title="Código" Sortable Searchable Groupable>
            <EditorTemplate>
                <input type="text" class="form-control" @bind-value="@context.Code" />
            </EditorTemplate>
        </Column>
        <Column Item="Product" Property="e=>e.Name" Title="Nombre" Sortable Searchable Groupable>
            <EditorTemplate>
                <input type="text" class="form-control" @bind-value="@context.Name" />
            </EditorTemplate>
        </Column>
        
        <Column Item="Product" Property="e=>e.Supplier.Name" Title="Proveedor" Sortable Searchable Groupable>
            <EditorTemplate>
                <input type="text" class="form-control" @bind-value="@context.Supplier.Name" />
            </EditorTemplate>
        </Column>
        <Column Item="Product" Property="e=>e.Category.Description" Title="Categoría" Sortable Searchable Groupable>
            <EditorTemplate>
                <input type="text" class="form-control" @bind-value="@context.Category.Description" />
            </EditorTemplate>
        </Column>
        <Column Item="Product" Property="e=>e.Stock" Title="Stock" Sortable Searchable Groupable>
            <EditorTemplate>
                <input type="text" class="form-control" @bind-value="@context.Stock" />
            </EditorTemplate>
        </Column>
        <Column Item="Product" Property="e=>e.Minimum" Title="Mínimo" Sortable Searchable Groupable>
            <EditorTemplate>
                <input type="text" class="form-control" @bind-value="@context.Minimum" />
            </EditorTemplate>
        </Column>
        <Column Item="Product" Property="e=>e.Maximum" Title="Máximo" Sortable Searchable Groupable>
            <EditorTemplate>
                <input type="text" class="form-control" @bind-value="@context.Maximum" />
            </EditorTemplate>
        </Column>
        <Column Item="Product" Property="e=>e.Price" Title="Precio" Sortable Searchable Groupable>
            <EditorTemplate>
                <input type="text" class="form-control" @bind-value="@context.Price" />
            </EditorTemplate>
        </Column>

    </ChildContent>

</Table>


<div class="modal-footer">
    <a @onclick="Cancel" class="btn btn-link link-secondary" data-dismiss="modal">
        Salir
    </a>
</div>
@inject TabBlazor.Services.TablerService TablerService;
@inject ProductFinderViewModel Model;
@inject IModalService ModalService
@code {

    protected override async Task OnInitializedAsync()
    {
        await Model.Refresh();
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Model.Refreshed += Refreshed;
    }

    private void Refreshed(object sender, EventArgs e)
    {
        (sender as IRefresh).Refreshed -= Refreshed;
        StateHasChanged();
    }

    private void Cancel()
    {
        ModalService.Close(ModalResult.Cancel());
    }

    private void ItemSelected(Product product)
    {
        ModalService.Close(ModalResult.Ok(product));
    }

}
